<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/resources :: head(pageTitle='Pizza Details')">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pizza detail</title>
</head>
<body>
<nav th:replace="~{/fragments/navbar :: navbar(current='pizzas')}"></nav>

<div class="container" th:object="${pizza}">
    <section>
        <div class="row">
            <h1 class="my-3 text-center" th:text="*{name}"></h1>

            <dl class="col-6">

                <dt>Name</dt>
                <dd th:text="*{name}"></dd>


                <dt>Description</dt>
                <dd th:text="*{description}"></dd>

                <dt>Price</dt>
                <dd th:text="*{price} +' €'"></dd>

                <dt>ID</dt>
                <dd th:text="*{id}"></dd>

                <dt>Created at</dt>
                <dd th:text=" *{#temporals.format(createdAt, 'dd-MM-yyyy hh:mm')}"></dd>

            </dl>
            <div class="col-6">
                <img th:src="*{picUrl}" class=" rounded rounded-3 card-img-top my-img" alt="...">
            </div>
        </div>
    </section>

    <section>
        <h2 class="my-3">Special offers</h2>
        <div class="my-3">
            <a class="btn btn-primary" th:href="@{/specialOffers/create(pizzaId=${pizza.id})}">Add Special Offer</a>
        </div>
        <table class="table" th:if="${pizza.specialOffers.size()>0}">
            <thead>
            <tr>
                <th>Title</th>
                <th>Start date</th>
                <th>Expiry date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="specialOffer : *{specialOffers}" th:object="${specialOffer}">
                <td th:text="*{title}"></td>
                <td th:text="*{#temporals.format(startDate, 'dd-MM-yyyy')}"></td>
                <td th:text="*{#temporals.format(expiryDate, 'dd-MM-yyyy')}"></td>
                <td class="d-flex align-items-center gap-1">
                    <a class="btn btn-primary" th:href="@{|/specialOffers/edit/*{id}|}"><i
                            class="fa-solid fa-pen-to-square"></i></a>
                    <form
                            th:action="@{|/specialOffers/delete/*{id}|}" method="post">
                        <button class=" btn btn-danger" type="submit"><i class="fa-regular fa-trash-can"></i></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <!--   Messaggio se non ci sono offerte speciali per la pizza     -->
        <div class="alert alert-info" th:unless="${pizza.specialOffers.size()>0}">There are no Special Offers for this
            Pizza
        </div>
    </section>
</div>


</body>
</html>