<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/resources :: head(pageTitle='Pizza Details')">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pizza detail</title>
</head>
<body>
<nav th:replace="~{/fragments/navbar :: navbar(current='pizzas')}"></nav>

<div class="container" th:object="${pizza}">
    <section>
        <h1 th:text="*{name}"></h1>
        <div class="card d-flex" style="width: 30rem;">
            <img th:src="*{picUrl}" class="card-img-top my-img" alt="...">
            <div class="card-body">
                <h5 th:text="*{name}" class="card-title"></h5>
                <p th:text="*{description}" class="card-text"></p>
                <p th:text="|Price: *{price} €|" class="card-text"></p>
                <p th:text="|Created: ${pizza.getFormattedCreatedAt}|" class="card-text"></p>
                <!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
        </div>
    </section>
    <section>
        <h2>Special offers</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Start date</th>
                <th>Expiry date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="specialOffer : *{specialOffers}" th:object="${specialOffer}">
                <td th:text="*{title}"></td>
                <td th:text="*{#temporals.format(startDate, 'dd-MM-yyyy')}"></td>
                <td th:text="*{#temporals.format(expiryDate, 'dd-MM-yyyy')}"></td>
            </tr>
            </tbody>
        </table>
    </section>
</div>


</body>
</html>